results_rebuttal/* filter=lfs diff=lfs merge=lfs -text
results_rebuttal/gemma_forget_64_inject_random_without_golf_old/manual_interp_run1/models/model.pt -filter=lfs -diff -merge
results_sweeps_counterfact/** filter=lfs diff=lfs merge=lfs -text
